nav {
  display: flex;
  flex-direction: row;
  margin: auto;
  justify-content: space-between;
  width: 90%;
  align-items: center;
}
header {
  background-color: #add092;
}
body {
  margin: 0;
}
ul {
  width: 300px;
  list-style: none;
  display: flex;
  justify-content: space-between;
}
