main {
    width: 70%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 5vw auto;
}

p {
    font-size: large;
    margin-top: 0;
}

form {
    display: flex;
    flex-direction: column;
}

input, textarea {
    background-color: #ADD092;
    border: none;
    padding: 0.5vw;
    margin: 0.5vw auto;
    width: 100%;
}

.submitInput {
    width: 30%;
}